[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
sklearn = "*"
category-encoders = "*"
xgboost = "*"
matplotlib = "*"
dash = "*"
dash-bootstrap-components = "*"
dash-core-components = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
